.data-table {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  margin: 10px;
  border-radius: 8px;
  background: #fff;
  padding-top: 8px;


  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
    background: #fff;


    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      position: sticky;
      

      tr {
        height: 56px;
        position: sticky;
        text-align: center;
        font-weight: 500;
      }

    }

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        height: 48px;
        color: rgba(82, 80, 80, 0.87);
        text-align: center;
        overflow-y: scroll;
        max-height: 100px;
      }
    }

    thead {
      border-bottom-color: rgba(33, 34, 33, 0.12);
      padding: 0;
      border-top-width: 1px;
      border-top-color: rgba(33, 34, 33, 0.12);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      color: rgba(0, 0, 0, 0.54);
      position: sticky;
    }
  }

  h3 {
    color: #0DaD8D;
  }

  tbody tr:nth-child(odd) {
    background-color: #f8f7f7;
  }

  tbody tr td:nth-child(2) {
    width: 300px;
    text-align: left;
  }

  thead tr th:nth-child(2){
    width: 300px;
  }

  tbody tr td:nth-child(1) {
   font-weight: 700;
  }

  .table-wrapper tbody {
    display: block;
    max-height: 750px;
    overflow-y: scroll;
  }

  .table-wrapper thead,
  .table-wrapper tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  //styling for scroll bar

  #scrollbarStyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  #scrollbarStyle::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  #scrollbarStyle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dddada;
  }

  #editButton {
    cursor: pointer;
  }
}

//styling for spinner

.spinner-border {
  margin: -75px 0 0 -75px;
  border: 10px solid #0991b3;
  border-radius: 50%;
  border-top: 10px solid #a1d2f3;
  animation: spin 1s linear 0s infinite;
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}