<nav class="navbar navbar-light navbar-expand-sm">
  <a class="navbar-brand" href="#" style="size: 10px">
    <img src="./assets/InfinityLogo.png" alt="logo">
  </a>
 
  <div class="collapse navbar-collapse" id="navbar-list-4">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="./assets/Avatar.avif" width="40" height="40" class="rounded-circle">
          Kevin Nguyen
        </span>
        
      </li>   
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
